#odintitle{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    
}

#contents{
    font-size: 30px;
    font-style: italic;
    font-weight: 15px;
    background-color: lightgray;
}

body{
    background-color: beige
}


